<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MBScheduler.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <MBScheduler.Properties.Settings>
            <setting name="Schedule" serializeAs="String">
                <value>Schedule</value>
            </setting>
            <setting name="Analyzed" serializeAs="String">
                <value>Analyzed</value>
            </setting>
            <setting name="Command" serializeAs="String">
                <value>command.bat</value>
            </setting>
            <setting name="CmdPref" serializeAs="String">
                <value>Command\0-cmd-</value>
            </setting>
        </MBScheduler.Properties.Settings>
    </applicationSettings>
</configuration>